<header class="header">
        <div class="nav-container">
            <div class="logo">Temllo Studios</div>
            <!-- Hamburger Menu Button -->
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav>
                <ul class="nav-menu">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="#portfolio" class="nav-link">Portfolio</a></li>
                    <li><a href="#services" class="nav-link">Services</a></li>
                    <li><a href="#process" class="nav-link">Process</a></li>
                    
                    <li><a href="#testimonials" class="nav-link">Testimonials</a></li>

                    <li><a href="contact.html" class="nav-link">Contact</a></li>
                    <!-- Mobile Get Started Button 
                    <li class="mobile-cta">
                        <a href="#contact" class="cta-button">Get Started</a>
                    </li>-->
                </ul>
            </nav>
            <div class="search-container">
                <a href="#contact" class="cta-button">Get Started</a>
            </div>
        </div>
    </header>